

    <div class="navbar">
        <!-- <input type="text" name="text" class="search" placeholder="Search here!"> -->
        
        <a href="#home">Pullling Request</a>
        <a href="#news">Issues</a>
        <div class="dropdown">
          
          <div class="dropdown-content">
            <a href="#">MarketingPlacing</a>
            <a href="#">Explore</a>
            <button class="dropbtn">Dropdown 
                <i class="fa fa-caret-down"></i>
              </button>
          
          </div>
        </div> 
      </div>
  

    