<div class="container">
 <div class="row">

      <div class="col-sm-12">

        <app-search-form (searchProf)="search($event)"></app-search-form>

        <div *ngIf="profile">
          <img src="{{profile. avatar_url}}">
          <p>{{profile.login}}</p>
          <p>{{profile.bio}}</p>
          <p>{{profile.public_repos}}</p>

          <!-- // public created_at:Date -->
        </div>
      </div>
      <div class="repo">
        <div class="row">
        <div class="col-sm-12">
          

            <div id="details" *ngFor="let repo of repository">
              <div class="name" style="color: blue;">
                <p>{{repo.name}}</p>
              </div>
            <p>{{repo.description}}</p>
            <p>{{repo.language}}</p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

<div class="footer-card">
  <h3>Designed by Collins</h3>
</div>
