
*{
    font-family: 'Roboto', sans-serif;
}

#details{
    border: solid;
    margin: 10px;
    width: 550px;
    text-align: center;
}
.footer-card{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    height: 60px;
    padding-top: 10px;
}