<div class="container">
    <div class="row">
  
      <div class="col-sm-6">

<app-search-form (searchProf)="search($event)"></app-search-form>

<div *ngIf="profile">
    <img src="{{profile.avatar_url}}">
    <p>{{profile.login}}</p>
<p>{{profile.bio}}</p>
<p>{{profile.public_repos}}</p>

<!-- // public created_at:Date -->
</div>
      </div>
      <div class="repo">
        <div class="col-sm-6">

<div *ngFor="let repo of repository">
   <div class="name"></div> <p>{{repo.name}}</p>
    <p>{{repo.description}}</p>
    <P>{{repo.clone_url}}</P>
   <p>{{repo.language}}</p> 
  
</div>
</div>

      </div>
    </div>
</div>



