<div class="title">
    <h3>Enter your details and press search to get your Github account</h3>
</div>
<div class="card-body bodyform">
    <div class="card-body form1">
     <form #name="ngForm" class="form2">
    <div class="form-group  formsearch">
             <input type="text" class="form-control form3" placeholder="Enter username" [(ngModel)]="searchTerm"
                 name="searchTerm"> <br>
                <input type="submit" class="btn btn-success" id="input" value="Search" (click)="searchUser()">
            </div>
     </form>
 </div>
</div>